<template name="dashboardStudentsStat">
<!-- dashboardStudentsStat template content -->
    {{> AnalyticsApplication}}
    {{#contentFor "pageTitleContent"}}
        <div class="title_left">
            <h3>Статистика по активности студентов по курсам
                <small><br>Статистика по посещаемости курсов студентами</small>
            </h3>
        </div>
        <!--{{> pageTitleR}}-->
    {{/contentFor}}

    {{#contentFor "articleTitleContent"}}
        <!-- articleTitleContent-->
        <h2>Поле муниципалитета является обязательным
            <small><b>(если Вы собираетесь использовать фильтры по образовательному учреждению)</b></small>
        </h2>
    {{/contentFor}}
</template>
