<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/dashboard/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/dashboard/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dashboard/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/dashboard/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/dashboard/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/dashboard/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
          rel="stylesheet">
    <link href="/dashboard/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/dashboard/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/dashboard/build/css/custom.css" rel="stylesheet">

    <!--        <script type="text/javascript" src="/dashboard/vendors/jquery/dist/jquery.min.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/fastclick/lib/fastclick.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/nprogress/nprogress.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/datatables.net/js/jquery.dataTables.js"></script> &lt;!&ndash;TODO  add min&ndash;&gt;
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
            <script type="text/javascript"
                    src="/dashboard/vendors/datatables.net-scroller/js/dataTables.scroller.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/jszip/dist/jszip.min.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/pdfmake/build/pdfmake.min.js"></script>
            <script type="text/javascript" src="/dashboard/vendors/pdfmake/build/vfs_fonts.js"></script>

            &lt;!&ndash; Custom Theme Scripts &ndash;&gt;
            <script src="/dashboard/build/js/custom.min.js"></script>

            &lt;!&ndash; Datatables &ndash;&gt;
            <script>
                $(document).ready(function () {
                    var handleDataTableButtons = function () {
                        if ($("#datatable-buttons").length) {
                            $("#datatable-buttons").DataTable({
                                dom: "Bfrtip",
                                buttons: [
                                    {
                                        extend: "copy",
                                        className: "btn-sm"
                                    },
                                    {
                                        extend: "csv",
                                        className: "btn-sm"
                                    },
                                    {
                                        extend: "excel",
                                        className: "btn-sm"
                                    },
                                    {
                                        extend: "pdfHtml5",
                                        className: "btn-sm"
                                    },
                                    {
                                        extend: "print",
                                        className: "btn-sm"
                                    },
                                ],
                                responsive: true
                            });
                        }
                    };

                    TableManageButtons = function () {
                        "use strict";
                        return {
                            init: function () {
                                handleDataTableButtons();
                            }
                        };
                    }();

                    $('#datatable').dataTable();
                    $('#datatable-keytable').DataTable({
                        keys: true
                    });

                    $('#datatable-responsive').DataTable();

                    $('#datatable-scroller').DataTable({
                        ajax: "js/datatables/json/scroller-demo.json",
                        deferRender: true,
                        scrollY: 380,
                        scrollCollapse: true,
                        scroller: true
                    });

                    var table = $('#datatable-fixed-header').DataTable({
                        fixedHeader: true
                    });

                    TableManageButtons.init();
                });
            </script>-->
</head>