<template name="sideleftMenu">
    <body>
    {{log name}}
    {{log tasks}}
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section active">
            <!--<h3>General</h3>-->
            <ul class="nav side-menu" style="">
                <li class="active"><a><i class="fa fa-table"></i> ОТЧЁТЫ <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: block;">
                        {{#each dahboards}}
                            <li><a href="{{url}}">{{description}}</a></li> <!-- class="current-page"-->
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
    </body>
</template>